[Unit]
Description=Samba NetBIOS name server
After=network.target

[Service]
Type=forking
PIDFile=/var/run/nmbd.pid
ExecStartPre=/bin/mkdir -p /var/log/samba/
ExecStartPre=/bin/mkdir -p /var/run/samba/
ExecStartPre=/bin/mkdir -p /var/run/samba/nmbd
ExecStart=/usr/bin/nmbd -D
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
