[Unit]
Description=RuneAudio Shairport Sync Metadata Decoder Worker 
After=network.target redis.target rune_PL_wrk shairport-sync

[Service]
ExecStart=/var/www/command/rune_SSM_wrk

[Install]
WantedBy=multi-user.target
