[Unit]
Description=Shairport Sync - AirPlay Audio Receiver
After=sound.target
Requires=avahi-daemon.service
After=avahi-daemon.service
Wants=network-online.target
After=network.target network-online.target

[Service] 
Environment="ON=/var/www/command/airplay_toggle on" 
Environment="OFF=/var/www/command/airplay_toggle off" 
ExecStartPre=/usr/bin/mkdir -p /var/run/shairport
ExecStart=/usr/bin/shairport-sync -c /etc/shairport-sync.conf --name="kg_rune (AirPlay)" -- -d hw:0 -c Digital
User=shairport-sync 
Group=shairport-sync 

[Install] 
WantedBy=multi-user.target 
