[Unit]
Description=BluezAlsa proxy
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=simple
#User=bluealsa
Group=audio
#ExecStart=/usr/bin/bluealsa --profile=a2dp-sink --device=hci1
ExecStart=/usr/bin/bluealsa --profile=a2dp-sink 00:00:00:00:00:00

[Install]
WantedBy=multi-user.target
