[Unit]
Description=Spotifyd - A spotify playing daemon - Spotify Connect Receiver
Documentation=https://github.com/Spotifyd/spotifyd
Wants=sound.target network-online.target
After=sound.target network.target network-online.target avahi-daemon.service
Requires=avahi-daemon.service

[Service]
ExecStart=/usr/bin/spotifyd --no-daemon -c /etc/spotifyd.conf
User=spotifyd
Group=spotifyd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
