[Unit]
Description=Upmpdcli UPnP/dlna receiver
After=sound.target
Requires=mpd.service
After=mpd.service

[Service]
User=upmpdcli
ExecStart=/usr/bin/upmpdcli -c /etc/upmpdcli.conf -q 1 -d /var/log/runeaudio/upmpdcli.log -l 2
Restart=always


Restart=always

[Install]
WantedBy=multi-user.target
