[Unit]
Description=Upmpdcli UPnP/dlna receiver
After=sound.target
Requires=mpd.service
After=mpd.service

[Service]
ExecStartPre=/bin/rm -f /var/log/runeaudio/upmpdcli.log
ExecStartPre=/bin/mkdir -p /tmp/upmpdcli
ExecStart=/usr/bin/upmpdcli -c /etc/upmpdcli.conf
Restart=always

[Install]
WantedBy=multi-user.target
