ACTION=="add", SUBSYSTEM=="bluetooth", RUN+="/srv/http/command/bt-info.php start"
ACTION=="remove", SUBSYSTEM=="bluetooth", RUN+="/srv/http/command/bt-info.php stop"
