[Unit]
Description=Local Chromium Browser Kiosk mode
After=network.target

[Service]
#Type=forking
#User=http
ExecStart=/usr/bin/xinit /etc/X11/xinit/xinitrc
ExecStop=/usr/bin/pkill -15 Xorg
Restart=always

[Install]
WantedBy=multi-user.target
